@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-dark-bg: #09090b;
  --color-card-bg: #121215;
  --color-accent: #8b5cf6;
}

/* Sıfırlama kurallarına Tailwind v4'te gerek kalmaz ama özel olarak kalsın istersen: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar{ 
  padding: 1.5rem 7.5rem;
}

.hero-main {
  margin-top: 15%;
}

.social-cap {
  margin-top: 2rem;
}

.social {
  border: 1px solid #ebeaed; /* Örnek renk ve kalınlık */
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.social i {
  font-size: 1.5rem;
}

.social:hover {
  background-color: #e6dfe6;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}